<h1>Azure Storage API</h1>
<p>This API allows you to manage the following areas within an Azure Storage Account</p>
<ul>
    <li>Blobs</li>
    <li>Queues</li>
    <li>Files</li>
    <li>Tables</li>
</ul>

<a href="/swagger/">See documentation here</a>